In [3]:
import os
import pandas as pd
os.chdir(r'C:\Users\prana\Desktop')
df = pd.read_csv(r'C:\Users\prana\Desktop\Amex analyze this dataset\Training_dataset_Original.csv')
df.head()

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,230034,1745,0.4001,0.000,0.0,0.0,missing,2536,missing,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,0,115.019,missing,0,1,0.92665,na,na,L,0

In [ ]:
df.tail()

In [ ]:
df.isnull().sum()

In [ ]:
df_edit = df #df edit has no null values

In [ ]:
df_edit.dropna(inplace=True)
df_edit.shape[0]

In [ ]:
X_train1 = df_edit[['mvar1','mvar6','mvar14','mvar15','mvar42','mvar39','mvar45','mvar46']]

In [ ]:
X_train1.head()

In [5]:
X_train2 = df[['mvar1','mvar6','mvar14','mvar15','mvar42','mvar39','mvar45','mvar46']]
X_train2.head()
type(X_train2)

pandas.core.frame.DataFrame

In [ ]:
df2 = pd.read_csv(r'C:\Users\prana\Desktop\Amex analyze this dataset\TdO_edit.csv')
df2.shape[0]

In [ ]:
df2.head()

In [ ]:
df2.isnull().sum()

In [ ]:
df2[['mvar14','default_ind']].head()

In [ ]:
df2[['mvar14','default_ind']].tail()

In [ ]:
#X_train2 = df2['mvar14']
#Y_train2 = df2['default_ind']
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
import numpy as np
scaler = StandardScaler()
Xtrain, Xtest, ytrain, ytest = train_test_split(df2[['mvar14','mvar3','mvar4','mvar5','mvar10','mvar20']],df2[['default_ind']])
imp = Imputer(strategy='most_frequent')
Xtrain_m = imp.fit_transform(Xtrain)
Xtest_m = imp.fit_transform(Xtest)
scaler.fit(Xtrain_m)
scaler.fit(Xtest_m)
Xtrain_s = scaler.transform(Xtrain_m)
Xtest_s = scaler.transform(Xtest_m)
n_train = Xtrain.shape[0]
itera = np.ceil(10**6/n_train)
#Xtrain.values.reshape(1,-1)
#ytrain.values.reshape(1,-1)
#clf = LogisticRegressionCV(cv=5, random_state=0).fit(Xtrain_m, ytrain)
#clf =  SGDClassifier(loss='hinge',max_iter = itera).fit(Xtrain_s, ytrain)
#for i in range(1,25):
    #clf = RandomForestClassifier(n_estimators=100, random_state=0).fit(Xtrain_m, ytrain)
ypred = clf.predict(Xtest_m)
accuracy_score(ytest, ypred)

In [ ]:
from sklearn.naive_bayes import GaussianNB
modelP = GaussianNB().fit(Xtrain, ytrain)
ypred = modelP.predict(Xtest)
accuracy_score(ytest,ypred)

In [ ]:
Xtrain.shape[0]

In [ ]:
ytest.shape[0]

In [ ]:
X_train = df2[['mvar14','mvar3','mvar4','mvar5','mvar10','mvar20']]
y_train = df2['default_ind']
dftest = pd.read_csv(r'C:\Users\prana\Desktop\Amex analyze this dataset\Leaderboard_dataset.csv')
X_test = dftest[['mvar14','mvar3','mvar4','mvar5']]
n_test = X_train.shape[0]
imp = Imputer(strategy='most_frequent')
X_train_m = imp.fit_transform(X_train)
X_test_m = imp.fit_transform(X_test)
itert = np.ceil(10**6/n_test)
scaler = StandardScaler()
scaler.fit(X_train_m)
scaler.fit(X_test_m)
X_train_s = scaler.transform(X_train_m)
X_test_s = scaler.transform(X_test_m)
#modelP = GaussianNB().fit(X_train_m, y_train)
#modelP = LogisticRegressionCV(cv=5, random_state=0).fit(X_train_m, y_train)
for i in range(1,25):
    modelP =  SGDClassifier(loss='hinge',max_iter = itert).fit(X_train_s, ytrain)
y_pred = modelP.predict(X_test_s)
np.savetxt(r'C:\Users\prana\Desktop\Amex analyze this dataset\value.csv',y_pred,delimiter=',')

In [ ]:
df3 = df2
df3.dropna()
df3.shape[0]

In [ ]:
df3.head()

In [ ]:
df3.isnull().sum()

In [ ]:
df3.dropna(inplace = True)
df3.isnull().sum()

In [ ]:
df3.shape[0]